node-red/project1/flow.json
[{"id":"94612926.805598","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"efa4a28e.9688d","type":"inject","z":"94612926.805598","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":280,"wires":[["8cc15b9f.634cb"]]},{"id":"8cc15b9f.634cb","type":"debug","z":"94612926.805598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":260,"wires":[]},{"id":"3c29253a.68eeea","type":"comment","z":"94612926.805598","name":"Project 1","info":"","x":240,"y":240,"wires":[]}]