node-red/project2/flow.json
[{"id":"d7fa6e4d.8ef83","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9e50e3bb.a409d","type":"comment","z":"d7fa6e4d.8ef83","name":"Project 2","info":"","x":260,"y":160,"wires":[]},{"id":"85a74c79.47dbf8","type":"inject","z":"d7fa6e4d.8ef83","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":200,"wires":[["19a1935.b79916d"]]},{"id":"19a1935.b79916d","type":"debug","z":"d7fa6e4d.8ef83","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]}]